@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

@theme {
  /* --color-background: #f9fafb;
  --color-primary: #74787c;
  --color-secondary: #6b7488;
  --color-accent: #506ca8; */
  --color-background: #1f2937;
  --color-primary: #f9fafb;
  --color-secondary: #2563eb;
  --color-ternary:#e8c918;
  --color-accent: #111827;
}

.dark {
  --color-background: #1f2937;
  --color-primary: #f9fafb;
  --color-secondary: #2563eb;
  --color-ternary:#e8c918;
  --color-accent: #111827;

}

*{
  font-family: 'Outfit','Space Grotesk', sans-serif;
}

/* make all images responsive */
/* img{
  max-width: 100%;
  height: auto;
} */



